language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
install:
  - pip install -U pip
  - pip install -r requirements.txt   
  - pip install coverage coveralls
  - pip install .
script:
  - cd tests
  - coverage run --source=ornet -m unittest discover -s .
after_success:
  - coveralls
