coverage==5.0.2
cycler==0.10.0
Cython==0.29.14
decorator==4.4.1
imageio==2.6.1
imageio-ffmpeg==0.3.0
itk==5.0.1
itk-core==5.0.1
itk-filtering==5.0.1
itk-io==5.0.1
itk-numerics==5.0.1
itk-registration==5.0.1
itk-segmentation==5.0.1
joblib==0.14.1
kiwisolver==1.1.0
matplotlib==3.1.2
networkx==2.4
numpy==1.18.1
opencv-python==4.1.2.30
ornet==0.1
Pillow==7.0.0
pyparsing==2.4.6
python-dateutil==2.8.1
PyWavelets==1.1.1
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
six==1.13.0
